@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body {
  font-family: "Aldrich", Calibri, sans-serif;
  margin: auto;
  padding-top: 10%;
  max-width: 90%;
  text-align: center;
  background-color: #222;
  color: #DDD;
}

.btn img {
  padding-right: 12px;
}

#main-menu li {
  list-style-type: none;
  text-align: center;
}

#main-menu .btn {
  border: 8px solid darkcyan;
  border-radius: 16px;
  font-size: x-large;
  margin-bottom: 14%;
  padding: 16px;
  color: #DDD;
}

#main-menu .btn img{
  width: 128px;
  height: 128px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#new-project .btn-default {
  width: auto;
  max-width: fit-content;
}

.form-control {
  max-width: 500px;
  display: inline-block;
}

.form-control:disabled {
  cursor: not-allowed;
}

#dropZone {
  padding-top: 2%;
  height: 100vh;
}

.proj-name {
  font-size: xx-large;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  margin-bottom: 1%;
}
.proj-name:hover {
  filter: drop-shadow(4px 4px 3px cyan);
}

.overlay::after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(1, 192, 206, 0.4);
  outline: 8px dashed darkcyan;
  outline-offset: -24px;
}

#files {
  overflow-y: auto;
  max-height: 80vh;
}

.file-btn {
  margin-left: 1%;
}

.file {
  max-width: 80%;
  margin: auto;
  margin-bottom: 3%;
  color: orange;
}

.file-synced {
  color: lightgreen;
  font-size: large;
}

li::marker {
  content: '';
  visibility: hidden;
}

.proj-title {
  color: aqua;
  font-size: x-large;
  font-weight: bold;
  margin: 0px 2%;
}

#fileSearch {
  margin-left: 2%;
}